.__App__ {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

@media only screen and (max-width: 600px) {
    .__App__ {
        padding-left: 20px;
        padding-right: 20px;
    }
}